PORT=5000

# Base de données segmentée
DB_USER=votre_utilisateur
DB_HOST=localhost
DB_NAME=drive_ai
DB_PASSWORD=votre_mot_de_pass
DB_PORT=5432

# Google API Configuration
GOOGLE_CLIENT_ID=votre_id_client
GOOGLE_CLIENT_SECRET=votre_secret_client
GOOGLE_REDIRECT_URI=http://localhost:5000/api/auth/callback

# Gemini AI
GEMINI_API_KEY=AIzaSyBEI91rMFl3YoxlRRrGj0kRhHdisYeicCs

# Sécurité
JWT_SECRET=votre_secret_tres_long_et_securise
